*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
  font-style: 'Regular';
}
.navbar-toggler{
  background-color: white;
  }
 #background-color{
  color: #00008B;
  }
.header{
  width: 100%;
  height: 102vh;
  background:  linear-gradient(rgba(12,15,100,54),rgba(6,45,168,0.6)),url('../images/background image.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  position:relative;
  clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 82%, 0 0);
}
.header:before{
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  opacity: .4;
  z-index:-1;
}
.navbar:before{
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  background:linear-gradient(to right,#1e6799 0%, #3ccdbb 0%, #16c9f6 100%);
  opacity: .3;
  z-index:-1;
}
.nav-item a{
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 30px; 
  outline: none;
  color: #fff;  
  font-size: 1.2rem;
  font-weight: 540;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0.1px 0.2px 0.3px #000;
}
.nav-item a:hover{
  color:#00008B;
  background: #fff;
  text-decoration: none;
  box-shadow:  0 0 21px 0 rgba(0,0,0,0.3);
}
.header-section{
  width: 100%;
  height: inherit;
  color: white;
  text-align: center;
  position:relative;
}
.center-div{
  width:100%;
  height: 100px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
 .breadcrumbs a{
  color: white;
  padding:9px;
 }
 /***introduction-section starts***/
 .introduction-section{
  padding: 20px;
  padding-top: 60px;
 }
 .p{
  text-align: center;
  padding: 20px 87px;
  font-size: 23px;
  text-align: justify-all;
  color: #000;
}
.font-weight-bold{
font-size: 27px;
}
.h2-2{
  text-align: center;
  color: #00008B;
}
.h4-1{
padding-left: 200px;
text-align: justify-all;
color: #00008B;
}

/***introduction-section ends***/
/***profile-section starts***/
/***profile-1 section starts***/
.container-0{
  background: rgba(0,0,0,0.1);
  backdrop-filter:blur(2px);
  border:medium none;
  height: auto;
  transition:.3s;
  padding: 9px 42px;
  border-radius: 12px;
  margin: 0 100px;
  box-shadow: 2px 1px 6px 1px white;

}
.container-0:hover{
  box-shadow: 8px 10px 12px 3px white;
  backdrop-filter:blur(21px);
  transform: translateY(-21px);
  border-radius: 42px;
}
.profile-1{
  width: 100%;
  height: auto;
  background:  linear-gradient(rgba(12,15,100,54),rgba(6,45,168,0.6)),url('../images/background image.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  position:relative;
}
.founders{
  color: #fff;
  text-align: center;
}
.img-wrap{
  width: 100%;
  padding-right: 25px;
  padding-top: 186px;
  padding-bottom:40px;
  padding-left: 15px;
}
.img-wrap img{
  width: 99.9%;
  height: auto;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 0 10px #999999;
}
.name{
  font-size: 51px;
  color: #fff;
  padding-top: 30px;
}
p{
  color: #fff;
  font-size: 23px;
  text-align: justify-all;
  padding-right: 15px;
}
.bottom-name{
  color:#fff;
  text-align: center;
  padding-top:51px;
  font-size: 42px;
}
/***profile-1 section ends***/
/***profile-2 section starts***/
.profile-2{
  width: 100%;
  height: auto;
  background:  linear-gradient(rgba(12,15,100,54),rgba(6,45,168,0.6)),url('../images/background image.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  position:relative;
}
.img-wrap-1{
  width:100%;
  padding-left: 25px;
  padding-top: 186px;
  padding-bottom:40px;
  padding-right: 15px;
}
.img-wrap-1 img{
  width: 99.9%;
  height: auto;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 0 10px #999999;
}
.name-1{
  font-size: 51px;
  color: #fff;
  padding-top: 30px;
}
.para {
  color: #fff;
  font-size: 23px;
  text-align: justify-all;
  padding-left: 15px;
}
.bottom-name-1{
  color:#fff;
  text-align: center;
  padding-top:51px;
  font-size: 42px;
}
/***profile-2 section ends***/
/***footer-section starts***/
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background:  linear-gradient(rgba(12,15,100,54),rgba(6,45,168,0.6)),url('../images/background image.png');
  background-repeat: no-repeat; 
  background-size: 100% 100% ;
  position:relative;
  backdrop-filter:blur(12px);
}
.container-1{
  background: rgba(0,0,0,0.1);
  backdrop-filter:blur(12px);
  padding: 0px 90px;
}
.footer-cta {
  border-bottom: 1px solid #fff;
}
.single-cta i {
  color: #fff;
  font-size: 40px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.highlight{
  color:#fff;
  font-size: 16px;
  padding-top: 5px;
}
.cta-text span {
  color:#fff;
  font-size: 16px;
  padding-top: 5px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  color: #fff;
}
.footer-text p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #fff;
  line-height: 28px;
  padding-top: 15px;
  padding-right: 30px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  color: #00008B;
}
.linked-in{
  background: #fff;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #fff;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #fff;
}
.footer-widget ul li a {
  color: #fff;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: rgba(0,0,0,0.1);
  backdrop-filter:blur(12px);
  border: 1px solid #fff;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #fff;
    padding: 13px 20px;
    border: 1px solid #fff;
    top: 0;
}
.subscribe-form button i {
  color: #00008B;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background:  linear-gradient(rgba(12,15,100,54),rgba(6,45,168,0.6));
  padding: 27px 0;
}
.container-2{
  padding: 0px  40px;
}
.copyright-text p {
  margin: 0;
  font-size: 18px;
  color: #fff; 
}
.copyright-text p a{
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #fff;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/***scroll btn***/
#myBtn{
  /*display: none;*/
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 78px;
  right: 20px;
  z-index: 99;
  border: 1px #fff;
  color: #fff;
  background:  linear-gradient(rgba(12,15,100,54),rgba(6,45,168,0.6));
  padding: 10px;
  border-radius: 360px;
}
#myBtn:hover{
  background:#fff;
  color:  #00008B;
}
/* approach-div starts */
#return-to-top {
    position: fixed;
    bottom: 132px;
    right: 25px;
    background: rgb(0, 0, 0);
    background:  linear-gradient(rgba(12,15,100,54),rgba(6,45,168,0.6));
    width: 45px;
    height: 45px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px #fff;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    right:0px;
    top: 12px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background:  #fff;
}
#return-to-top:hover i {
    color:   #00008B;
    top: 5px;
}
@media(max-width:754px){
    .nav-item{
        text-align:center!important;
    }
    .header{
    width: 100%;
    height: 102vh;
  }
  .p{
  text-align: center;
  padding: 33px 8px;
  font-size: 22px;
  text-align: justify-all;
}
.h4-1{
text-align: justify-all;
color: #00008B;
padding: 9px 3px;
}
.container-0{
  margin: 0 12px;
  padding: 3px 0px;
}
p{
  font-size: 21px;
  padding-left: 15px;
}
.img-wrap{
  padding-right: 15px;
  padding-top: 72px;
  padding-bottom:18px;
}
.name{
  padding-top: 3px;
  padding-bottom: 18px;
}
.container-0{
  margin: 0 12px;
  padding: 3px 0px;
}
.para{
   font-size: 21px;
   padding-right:15px;
}
.img-wrap-1{
   padding-left: 15px;
   padding-top: 72px;
   padding-bottom:18px;
}
.name-1{
  padding-top: 30px;
}
.bottom-name{
  font-size: 0px;
}
.container-1{
  background: rgba(0,0,0,0.1);
  backdrop-filter:blur(12px);
  padding: 0px 45px;
}
.footer-social-icon{
  padding-bottom: 18px;
}
}